/.settings/
/Debug/
/Release/
/.ccsproject
/.cproject
/.project
/.xdchelp
.config/
/.launches/
/makefile.defs
/src/
/targetConfigs/
/documentation/
MSP432_SCPI_ElectronicLoad*.zip
*.ccxml
*.json
MSP_EXP432E401Y_TIRTOS.cmd
MSP_EXP432E401Y.c
MSP_EXP432E401Y.h
Board.h
/html/
/latex/
